.clock, .weather {
	align-items: stretch;
	height: to-rem(155px);
	display: flex;
	flex-direction: column;
	justify-content: center;
  opacity: 1;
	padding: $padding-textbox;
  transition: opacity .2s, color .2s, background .2s;
	width: to-rem(155px);

	&__time {
		@include typography(46px, 40px, 300, -.5px, var(--color-emphasis));
	}

	&__weekday {
		@include typography(16px, 18px, 500, -.15px);

		padding-top: $padding-sections;
	}

	&__date {
		@include typography(20px, 24px, 400, -.2px);
	}


	&__temp {
		@include typography(32px, 32px, 400, -.5px, var(--color-emphasis));
	}

	&__feels {
		@include typography(20px, 24px, 400, -.2px, var(--color-emphasis));

		&:empty {
			display: none;
		}
	}

	&__wind {
		@include typography(16px, 18px, 500, -.15px);

		padding-top: $padding-sections;
	}

	&__windunit {
		@include typography(12px, 18px, 700, -.075px);
	}

	&__humidity {
		@include typography(16px, 18px, 500, -.15px);
	}
}

.clock {
  &:active {
    opacity: .75;
    transition: opacity 0s, color 0s, background 0s;
  }
}
