@import "reset";
@import "variables";

body {
	@include typography(16px, 20px, 400, -.25px);

	background: $background-body;
}

body * {
	cursor: default;
	user-select: none;
}

.region {
	padding: $padding-seamless;
	position: relative;

	&--top {
		height: to-rem(240px);
	}

	&--middle {
		height: to-rem(160px);
	}

	&--bottom {
		height: to-rem(80px);
	}

}

.backdrop {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

@import "info";
@import "buttons";
