@import "reset";
@import "variables";

body {
	@include typography(16px, 20px, 400, -.25px);

  align-items: center;
	background: var(--background-body);
  display: flex;
  justify-content: center;
}

* {
	cursor: default;
	user-select: none;
  transition: all .2s;
}

.app {
  position: relative;
  width: 320px;
  height: 480px;
}

.region {
	padding: $padding-seamless;
	position: relative;

	&--top {
		height: to-rem(240px);
	}

	&--middle {
		height: to-rem(160px);
	}

	&--bottom {
		height: to-rem(80px);
	}

}

svg {
  display: block;
}

@import "info";
@import "buttons";
@import "backdrop";
@import "settings";
